body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  /* Menu desktop */
  @media screen and (min-width: 601px) {
    .textoperfil{
      color: #5076d9;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .fotoperfil{
      border-radius: 100px;
      width: 200px;
    }
    .caixa-cadastro{
      font-size: 25px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .caixa-edicao{
      font-size: 25px;
      width: 70%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .cadastro-realizado{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      color: #5076D9;
      -webkit-text-stroke: 0.5px black;
      font-weight: bold;
      position: relative;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .modal-conteudo {
        background-color: #e7e7e7;
        margin: 7% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.322);
        border-radius: 50px;
    }

    .fechar {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .fechar:hover, .fechar:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    nav {
      background-color: #5076d9;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      margin-bottom: -7px;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    }

    nav .dropdown {
      display: inline-block;
    }

    nav .dropdown-content {
      display: none;
      position: absolute;
      background-color: #5076d9;
      z-index: 1;
    }

    nav .dropdown:hover .dropdown-content {
      display: grid;
      top: 6%;
    }

    nav .dropdown-content a {
      display: block;
      color: white;
      padding: 15px;
      text-decoration: none;
      text-align: left;
    }

    nav .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }

    .fonte-pequena{
      font-family: Arial, Helvetica, sans-serif;
      color: #353535;
      font-weight: bold;
      font-size: 17px;
      text-decoration: none;
      cursor: pointer;
    }

    .fonte-pequena:hover{
        color: #5076D9;
    }

    .mapa{
      width: 100%;
      height: 94vh;
    }
    .custom-map-control-button{
      font-size: 18px;
      color: white;
      font-weight: bold;
      background-color: #5076D9;
      border-radius: 20px;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      width: 120px;
      height: 43px;
      cursor: pointer;
      border: none;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
      margin-top: 10px;
    }
    .custom-map-control-button:hover{
      background: rgb(235, 235, 235);
    }
    .nome-pagina{
      position: relative;
      top: -35px;
      text-align: center;
      font-size: larger;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0px 90px;
    }
  }
  .hamburguer {
    color: #ffffff;
    display: none;
    cursor: pointer;
    background-color: #5076d9;
    position: relative;
    top: 0px;
    left: 0px;
    height: 40px;
  }
  .hamburguer img{
    width: 40px;
    height: auto;
    
  }
  
  .menu-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33333300;
    z-index: 1;
    box-sizing: border-box;
  }
  
  .menu-mobile a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000d3;
    display: block;
    transition: 0.4s;
  }
  
  .menu-mobile a:hover {
    background-color: #5076d9;
    cursor: pointer #5076d9;
  }
  .submenu {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .submenu ul {
    display: none;
    position: relative;
    top: 100%;
    left: 0%;
   
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  .submenu:hover ul {
    display: block;
  }
  
  .submenu ul li {
    display: block;
    
  }
  
  .submenu ul li a {
    padding: 10px;
    color: #ffffff;
    background-color:#000000d3;
    transition: background-color 0.4s;
  }
  
  .submenu ul li a:hover {
    background-color: #555;
  }

/* CONTEUDO DA PAGINA */
  .conteudo{
    text-align: center;
    z-index: -1;
    margin-top: 10px;
  }
  .logo{
    width: 150px;
  }
  .titulo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5076D9;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 0.8px #32467b;
  }
  .meta{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8FCF71;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 0.8px #477233;
  }
  .img{
    width: 200px;
    float: left;
    margin: 15px;
    
  }
  .texto{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px 0px;
  }
  .container{
    display: inline-block;
    }
  
  @media screen and (max-width: 600px) {
    nav {
      display: none;
    }
  
    .hamburguer {
      display: block;
      color: #ffffff;
    }
  
    .conteudo {
      margin-left: 0;
    }
    .textoperfil{
      color: #5076d9;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .fotoperfil{
      border-radius: 100px;
      width: 200px;
    }
    .caixa-edicao{
      font-size: 25px;
      width: 80%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }
  
    .modal-conteudo {
        background-color: #e7e7e7;
        margin: 7% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.322);
        border-radius: 50px;
    }
  
    .fechar {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .fechar:hover, .fechar:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .container{
      padding: 10px 0px;
      display: inline-block;
      margin-left: 5%;
      margin-right: 5%;
    }
    .img{
      width: 100px;
      align-items: center;
      float: left;
      
    }
    .texto{
      padding-left: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: smaller;
    
    }
    .cadastro-realizado{
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: #5076D9;
      -webkit-text-stroke: 0.5px black;
      font-weight: bold;
      position: relative;
    }
    .caixa-cadastro{
      font-size: 20px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .fonte-pequena{
      font-family: Arial, Helvetica, sans-serif;
      color: #353535;
      font-weight: bold;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
    .fonte-pequena:hover{
        color: #5076D9;
    }
    .mapa{
      height: 95vh;
    }
    .custom-map-control-button{
      font-size: 15px;
      color: white;
      font-weight: bold;
      background-color: #5077d9b5;
      border-radius: 20px;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      width: 120px;
      height: 43px;
      cursor: pointer;
      border: none;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
      margin-top: 10px;
    }
    .custom-map-control-button:hover{
      background: #233561c7;
    }
    .nome-pagina{
      position: relative;
      top: -33px;
      text-align: center;
      font-size: large;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0px 90px;
    }
  }