body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
  /* Menu desktop */
  @media screen and (min-width: 601px) {
    /* Estilos para os cards */
    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }      
    .card h3 {
      margin-top: 0;
    }
    .card p {
      margin-bottom: 0;
    }
    .titulo-info{
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .textoperfil{
      color: #4a701c;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .fotoperfil{
      height: 200px;
      width: 200px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }
    .caixa-cadastro{
      font-size: 25px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .caixa-edicao{
      font-size: 25px;
      width: 70%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
      
      
    }
    .cadastro-realizado{
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      color: #4a701c;
      -webkit-text-stroke: 0.5px black;
      font-weight: bold;
      position: relative;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .modal-conteudo {
      background-color: #e7e7e7;
      margin: 7% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.322);
      border-radius: 50px;
    }

    .fechar {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .fechar:hover, .fechar:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    nav {
      background-color: #434d36;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      margin-bottom: -7px;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    }

    nav .dropdown {
      display: inline-block;
    }

    nav .dropdown-content {
      display: none;
      position: absolute;
      background-color: #434d36;
      z-index: 1;
    }

    nav .dropdown:hover .dropdown-content {
      display: grid;
      top: 6%;
    }

    nav .dropdown-content a {
      display: block;
      color: white;
      padding: 15px;
      text-decoration: none;
      text-align: left;
    }

    nav .dropdown-content a:hover {
      background-color: #c4c6b6;
      color: black;
    }

    .fonte-pequena{
      font-family: Arial, Helvetica, sans-serif;
      color: #636363;
      font-weight: bold;
      font-size: 17px;
      text-decoration: none;
      cursor: pointer;
    }

    .fonte-pequena:hover{
        color: #303825;
    }

    .mapa{
      width: 100%;
      height: 95vh;
    }
    .custom-map-control-button{
      font-size: 18px;
      color: white;
      font-weight: bold;
      background-color: #434d36;
      border-radius: 20px;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      width: 120px;
      height: 43px;
      cursor: pointer;
      border: none;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
      margin-top: 10px;
    }
    .custom-map-control-button:hover{
      color: #000;
      background: #c4c6b6;
    }
    .nome-pagina{
      position: relative;
      top: -35px;
      text-align: center;
      font-size: larger;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0px 90px;
    }
    /* Estilos para a barra de progresso */
    .barramissao{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .missao{
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .missaotexto{
        text-align: center;
        margin-bottom: 10px;
    }

    .barra-container {
        display: grid;
        align-items: center;
        max-width: 350px; 
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 20px;
        margin: 10px;
    }
    .barrabotao{
        display: flex;
    }
    .barra { 
        flex: 1; 
        height: 20px;
        width: 300px;
        border-radius: 10px;    
        background-color: #ccc;
        overflow: hidden; /* Adiciona overflow hidden para limitar o tamanho da barra */
        margin-right: 10px; 
        margin-top: 10px;
    }

    .barra div {
        height: 100%;
        border-radius: 10px;
        background-color: #222;
        width: 0; /* Define a largura inicial da barra preta como 0 */
        transition: width 300ms; /* Adiciona transição para suavizar a mudança de largura */
    }

    .botao-adicionar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #7cb80d; 
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 300ms; /* Adiciona transição para suavizar a mudança de cor */
    }

    .botao-adicionar:hover {
        background-color: #7cb80d;
    }

    .contador {
        font-size: 18px;
        text-align: center;
        margin-top: 10px; 
    }

    /* Estilos para as conquistas */

    .conquista-container {
        margin-top: 20px; 
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .conquista {
        display: flex;
        align-items: center;
        margin-bottom: 10px; 
    }

    .conquista .icone {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background-color: #ccc; 
        border-radius: 50%;
    } 

    .conquista .descricao h4 {
        margin: 0;
    }

    .conquista .descricao p {
        margin: 5px 0;
        color: #888;
    }

    /* Estilos para as conquistas ativas */
    .conquista.ativa .icone {
        background-color: #7cb80d; 
    }
    .recompensa{
        text-align: center;
    }
    .containercontatos{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      margin: 5%;
    }
    .cardcontatos {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin: 10px;
        background-color: #e4e4e4;
        background: linear-gradient(180deg, #758067, #cdd4c2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        cursor: pointer;
        text-align: center;
    }

    .cardcontatos:hover {
        transform: translateY(-5px);
    }

    .cardcontatos h3 {
        margin-top: 0;
    }

    .cardcontatos p {
        margin-bottom: 0;
    }
    .imagecontatos{
        position: relative;
        text-align: center;
        width: 60px;
        border: 2px solid black;
        border-radius: 25%;
        padding: 10px;
        margin-top: 20px;
        background-color: #758067;
    }
  }
  .hamburguer {
    color: #ffffff;
    display: none;
    cursor: pointer;
    background-color: #434d36;
    position: relative;
    top: 0px;
    left: 0px;
    height: 40px;
  }
  .hamburguer img{
    width: 40px;
    height: auto;
    
  }
  
  .menu-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33333300;
    z-index: 1;
    box-sizing: border-box;
  }
  
  .menu-mobile a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000d3;
    display: block;
    transition: 0.4s;
  }
  
  .menu-mobile a:hover {
    color: #000;
    background-color: #c4c6b6;
    cursor: pointer #c4c6b6;
  }
  .submenu {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .submenu ul {
    display: none;
    position: relative;
    top: 100%;
    left: 0%;
   
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  .submenu:hover ul {
    display: block;
  }
  
  .submenu ul li {
    display: block;
    
  }
  
  .submenu ul li a {
    padding: 10px;
    color: #ffffff;
    background-color:#000000d3;
    transition: background-color 0.4s;
  }
  
  .submenu ul li a:hover {
    background-color: #c4c6b6;
  }

/* CONTEUDO DA PAGINA */
  .conteudo{
    text-align: center;
    z-index: -1;
    margin-top: 10px;
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
  }
  .logo{
    width: 150px;
  }
  .titulo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a701c;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 0.8px #293915;
  }
  .meta{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #88b257;
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: 0.8px #556d39;
  }
  .img{
    width: 200px;
    float: left;
    margin: 15px;
    filter: drop-shadow(5px 2px 3px grey);
    
  }
  .texto{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px 0px;
  }
  .container{
    display: inline-block;
    }
  
  @media screen and (max-width: 600px) {
    nav {
      display: none;
    }
  
    .hamburguer {
      display: block;
      color: #ffffff;
    }
  
    .conteudo {
      margin-left: 0;
    }
    .textoperfil{
      color: #4a701c;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .fotoperfil{
      width: 200px;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }
    .caixa-edicao{
      font-size: 25px;
      width: 80%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }
  
    .modal-conteudo {
        background-color: #e7e7e7;
        margin: 7% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.322);
        border-radius: 50px;
    }
  
    .fechar {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .fechar:hover, .fechar:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .container{
      padding: 10px 0px;
      display: inline-block;
      margin-left: 5%;
      margin-right: 5%;
    }
    .img{
      width: 150px;
      align-items: center;
      float: left;
      filter: drop-shadow(5px 2px 3px grey);
    }
    /* Estilos para os cards */
    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }      
    .card h3 {
      margin-top: 0;
    }
    .card p {
      margin-bottom: 0;
    }
    .titulo-info{
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .texto{
      padding-left: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
    .cadastro-realizado{
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: #4a701c;
      -webkit-text-stroke: 0.5px black;
      font-weight: bold;
      position: relative;
    }
    .caixa-cadastro{
      font-size: 20px;
      width: 80%;
      height: 100%;
      border-radius: 6px;
      border: none;
      padding-left: 3px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .fonte-pequena{
      font-family: Arial, Helvetica, sans-serif;
      color: #353535;
      font-weight: bold;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
    .fonte-pequena:hover{
        color: #303825;
    }
    .mapa{
      height: 95vh;
    }
    .custom-map-control-button{
      font-size: 15px;
      color: white;
      font-weight: bold;
      background-color: #434d3698;
      border-radius: 20px;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      width: 120px;
      height: 43px;
      cursor: pointer;
      border: none;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
      margin-top: 10px;
    }
    .custom-map-control-button:hover{
      background: #434d3698;
    }
    .nome-pagina{
      position: relative;
      top: -33px;
      text-align: center;
      font-size: large;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0px 90px;
    }
    /* Estilos para a barra de progresso */
    .barramissao{
      align-items: center;
      justify-content: center;
    }
    .missao{
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .missaotexto{
        text-align: center;
        margin-bottom: 10px;
    }

    .barra-container {
        display: grid;
        align-items: center;
        max-width: 350px; 
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 20px;
        margin: 10px;
    }
    .barrabotao{
        display: flex;
    }
    .barra { 
        flex: 1; 
        height: 20px;
        width: 300px;
        border-radius: 10px;    
        background-color: #ccc;
        overflow: hidden; /* Adiciona overflow hidden para limitar o tamanho da barra */
        margin-right: 10px; 
        margin-top: 10px;
    }

    .barra div {
        height: 100%;
        border-radius: 10px;
        background-color: #222;
        width: 0; /* Define a largura inicial da barra preta como 0 */
        transition: width 300ms; /* Adiciona transição para suavizar a mudança de largura */
    }

    .botao-adicionar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #7cb80d; 
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 300ms; /* Adiciona transição para suavizar a mudança de cor */
    }

    .botao-adicionar:hover {
        background-color: #7cb80d;
    }

    .contador {
        font-size: 18px;
        text-align: center;
        margin-top: 10px; 
    }

    /* Estilos para as conquistas */

    .conquista-container {
        margin-top: 20px; 
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .conquista {
        display: flex;
        align-items: center;
        margin-bottom: 10px; 
    }

    .conquista .icone {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background-color: #ccc; 
        border-radius: 50%;
    } 

    .conquista .descricao h4 {
        margin: 0;
    }

    .conquista .descricao p {
        margin: 5px 0;
        color: #888;
    }

    /* Estilos para as conquistas ativas */
    .conquista.ativa .icone {
        background-color: #7cb80d; 
    }
    .recompensa{
        text-align: center;
    }
    .containercontatos{
      display: grid;
      margin-top: 5%;
      justify-items: center;
    }
    .cardcontatos {
        width: 60%;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        cursor: pointer;
        text-align: center;
        background: linear-gradient(180deg, #758067, #cdd4c2);
    }

    .cardcontatos:hover {
        transform: translateY(-5px);
    }

    .cardcontatos h3 {
        margin-top: 0;
    }

    .cardcontatos p {
        margin-bottom: 0;
    }
    .imagecontatos{
        position: relative;
        text-align: center;
        width: 60px;
        border: 2px solid black;
        border-radius: 25%;
        padding: 10px;
        margin-top: 20px;
        background-color: #758067;
    }
  }