*{
    margin: 0;
    padding: 0;
}
    .centralizado{
        text-align: center;
    }
    
    .background{
        background-color: #e4e4e4;
        background: linear-gradient(180deg, #758067, #cdd4c2);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .logo{
        width: 150px;
    }
    .botao{
        font-size: 20px;
        color: white;
        font-weight: bold;
        background-color: #434d36;
        border-radius: 20px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        width: 120px;
        height: 50px;
        cursor: pointer;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.348);
    }
    .botao:hover{
        transform: scale(1.1);
    }
    .fonte-pequena{
        font-family: Arial, Helvetica, sans-serif;
        color: #353535;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
    }
    .fonte-esquecisenha{
        font-family: Arial, Helvetica, sans-serif;
        color: #353535;
        font-weight: bold;
        font-size: 17px;
    }
